<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SOS</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        
        <icon background="@color/background" density="mdpi" foreground="res/android/mipmap-mdpi/ic_launcher_foreground.png" />
        <icon background="@color/background" density="hdpi" foreground="res/android/mipmap-hdpi/ic_launcher_foreground.png" />
        <icon background="@color/background" density="xhdpi" foreground="res/android/mipmap-xhdpi/ic_launcher_foreground.png" />
        <icon background="@color/background" density="xxhdpi" foreground="res/android/mipmap-xxhdpi/ic_launcher_foreground.png" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/android/mipmap-xxxhdpi/ic_launcher_foreground.png" />
    </platform>

</widget>
